<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Lego Collection</title>
</head>
<body>
  <nav>
    <a href="/">Lego Collection</a>
    <a href="/about" class="btn">About</a>
  </nav>
  <div class="container mx-auto">
    <section class="hero">
      <h1>Explore Our Lego Collection</h1>
      <p>Discover a wide variety of Lego sets and unleash your creativity!</p>
      <a href="/lego/sets" class="btn">View Sets</a>
    </section>
    <div class="grid grid-cols-3 gap-4">
      <div class="card">
        <img src="/image/lego1.jpg" alt="Lego Set 1 image">
        <h2>Set Name 1</h2>
        <p>Lego can be seen like a small particles which we connect together to make it a better looking things.</p>
        <a href="/lego/sets/set_num_1" class="btn">View Set</a>
      </div>
      <div class="card">
        <img src="image/lego4.jpg" alt="Lego Set 2">
        <h2>Set Name 2:Plane Legos</h2>
        <p>we have the fully made plane legos ready to battle other legos .</p>
        <a href="/lego/sets/set_num_2" class="btn">View Set</a>
      </div>
      <div class="card">
        <img src="image/lego3.JPG" alt="Lego Set 3">
        <h2>Set Name 3</h2>
        <p>It is so beautiful to see a closet full of made legos. It seems cool for the decorations.</p>
        <a href="/lego/sets/set_num_3" class="btn">View Set</a>
      </div>
    </div>
  </div>
</body>
</html>
